<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValheimToDo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ValheimToDo.Properties.Settings>
            <setting name="amount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="item" serializeAs="String">
                <value />
            </setting>
            <setting name="note" serializeAs="String">
                <value />
            </setting>
            <setting name="textcolor" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="backgroundcolor" serializeAs="String">
                <value>36, 36, 36, 120</value>
            </setting>
            <setting name="screen" serializeAs="String">
                <value />
            </setting>
        </ValheimToDo.Properties.Settings>
    </userSettings>
</configuration>